h1{
    text-align: center;
    font-style: bold;
    font-size: 50px;
    color: #000000;
}

.Card{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff6e8;
    border-radius: 20px;
    box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.618);
}

form{
    padding: 10px;
}